.wrapper {
    position: relative;
    perspective: 40em;
    transform-style: preserve-3d;
}

.wrapper:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: -8px;
    margin-left: -8px;
    background: transparent;
    transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
    border: 8px solid var(--blue);
    pointer-events: none;
}

.wrapper .card {
    height: 300px;
    width: 450px;
    background: rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    transform: translateX(10px) rotateY(25deg) rotateX(10deg);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper:hover > div,
.wrapper:hover:before {
    transform: none;
}

.wrapper > div,
.wrapper:before {
    transition: 0.3s
}

.wrapper .card img {
    width: 100%;
    transition: 1s;
    transform: scale(1.5);
}

.wrapper:hover .card img {
    transform: scale(1);
    transition: 1s;
}

.wrapper .card .infoBx {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 70%;
    height: 90%;
    background: rgba(0, 60, 255, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 5px;
    padding: 10px 30px;
    transform: scale(0);
    transition: 0.5s;
}

.wrapper:hover .card .infoBx {
    transform: scale(1);
}

.wrapper:hover .card .infoBx .job-name{
    font-size: 1.5em;
}